/* colors:
    dark blue: #1F2937
    light blue: #3882F6
    light grey: #E5E7EB
*/

body {
    font-family: helvetica, sans-serif;
    font-size: 48px;
    color: #1F2937;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    font-size: 48px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.calculator{
    display: flex;
    flex-direction: column;
    border: 3px solid #1F2937;
    border-radius: 8px;
    width: 350px;
    height: 500px;
    justify-content: center;
    padding: 12px;
    gap: 4px;
    background-color: #E5E7EB;
}

.answer-display {
    display: flex;
    flex: 5;
    border: 2px solid #1F2937;
    border-radius: 8px;
    min-height: 75px;
    margin-bottom: 8px;
    background-color: white;
    color: #1F2937;
}

.operator-row, .number-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.operator-row {
    flex: 3;
}

.number-row {
    flex: 4;
}

button.operators {
    font-size: 36px;
}