/* colors:
    dark blue: #1F2937
    light blue: #3882F6
    light grey: #E5E7EB
*/

body {
    font-family: helvetica, sans-serif;
    font-size: 40px;
    color: #1F2937;
}

button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    padding: 4px;
    margin: 4px;
    font-size: 40px;
    background-color: rgb(255, 255, 255,.1);
    color: #E5E7EB;
}

.calculator{
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0px;
    width: 330px;
    height: 520px;
    justify-content: center;
    padding: 12px;
    gap: 4px;
    background-color: rgb(31, 41, 55,1);
}

.answer-display {
    display: flex;
    flex: 4;
    justify-content: right;
    align-items: flex-end;
    margin: 8px;
    padding: 8px;
    padding-right: 12px;
    /*background-color: white;*/
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255,.1);
}

.operator-row, .number-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.operator-row {
    flex: 3;
}

.number-row {
    flex: 4;
}

button.operators {
    font-size: 36px;
}

button.clear {
    border-radius: 8px;
    font-size: 24px;
}